@model List<TransportRequest>
@{
    ViewData["Title"] = "ApprovedAllRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Onaylanan Talepler</h1>

<table class="table table-striped">
    <tr>
        <th>TransportRequestId</th>
        <th>Taşıma Talep İstek Türü</th>
        <th>Oluşturulma Tarihi</th>
        <th>Taşıma Talep Durumu</th>
        <th>Talebi Tamamla</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TransportRequestId</td>
            <td>@item.Request.RequestName</td>
            <td>@item.CreatedAt</td>
            <td>@item.Status</td>
            <td><a href="/Request/CompleteRequest/@item.TransportRequestId" class="btn btn-dark">Taşıma Talebini Tamamla</a></td>
        </tr>
    }

</table>

