@model List<TransportRequest>
@{
    ViewData["Title"] = "PendingAllRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>PendingRequest</h1>

<table class="table table-striped">
    <tr>
        <th>TransportRequestId</th>
        <th>Taşıma Talep İstek Türü</th>
        <th>Oluşturulma Tarihi</th>
        <th>Talep Onayı</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TransportRequestId</td>
            <td>@item.Request.RequestName</td>
            <td>@item.CreatedAt</td>
            <td><a href="/Request/ConfirmRequest/@item.TransportRequestId" class="btn btn-danger">Nakliye Talebini Onayla</a></td>
        </tr>
    }

</table>

